@model CMA.Models.Grade_Book

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index2","Grade_Book")">GradeBook</a></li>
                    <li class="breadcrumb-item active">Details</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div>
    <h4>Grade_Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mathematics)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mathematics)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Physics)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Physics)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chemistry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chemistry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Biology)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Biology)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.History)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.History)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Literature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Literature)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> 
    <a asp-action="Index2" class="btn btn-primary">Back to List</a>
</div>
