@model IEnumerable<CMA.Models.Math_Attendance>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Math Class</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="breadcrumb-item active">Math Class</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->


<div class="row justify-content-between">
    <div class="col-6">
        <select id="Select">
            <option value="1">Select Class</option>
            <option value="2">Math Class</option>
            <option value="3">Physics Class</option>
            <option value="4">Chemistry Class</option>
            <option value="5">Biology Class</option>
            <option value="6">History Class</option>
            <option value="7">Literature Class</option>
        </select>
    </div>
    <div class="col col-lg-2">
        <button style="cursor:pointer; margin-bottom:20px" class="btn btn-sm btn-outline-danger  float-end" id="UpdateBtn">Update</button>
    </div>
</div>

<div class="card">
    <div class="card-header">
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="" class="table table-bordered table-striped">
            <thead>
    <thead>
        <tr>
            <th>
               
                <input style=" position:relative; margin-left:20px; top:2px" type="checkbox" class="form-check-input" id="Select_All" name="Select_All " /> Select All
               
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lectures_Absent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Percentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <input style=" position:relative; margin-left:20px; top:2px" type="checkbox" class="form-check-input" id="Select_One" name="Select_One" value="@item.Id" />
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lectures_Absent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Percentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
@section Scripts{
    <script src="/js/_Scripts.js"></script>
}